<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3 class="alert alert-info">Log in</h3>
    <%= form_for(:session, url: login_path) do |f| %>
      
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="checkbox">
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    <br>
    <span>Login Using Social Media</span>
    <%= link_to "/auth/google_oauth2" do %>
       <%= image_tag('google.png', width: '40', height: '40', class: 'image-circle')%>
    <% end %>
    <%= link_to "auth/facebook" do %>
      <%= image_tag('facebook.png', width: '44', height: '44', class: 'image-circle')%>
    <% end %>
  </div>
</div>