<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Zomato", root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to 'New Restaurant', new_restaurant_path if logged_in? && current_user.admin? %></li>
        </ul>
        
        <%= form_tag search_restaurants_path, method: :get, class: "navbar-form navbar-left", role: "search" do %>
          <p>
            <%= text_field_tag :search, params[:search], class: "form-control" %>
            <%= submit_tag "search", name: nil, class: "btn btn-default"%>
          </p>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Restaurants", restaurants_path %></li>
          <% if logged_in? %>
              <li><%= link_to "Users", users_path if current_user.admin?  %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign up", signup_path %></li>
            <li><%= link_to "Log in", login_path %></li>            
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>

<div class="container">
  <div class="row filter">
    <div class="col-sm-12 col-md-10 col-lg-10 col-md-offset-1">
      <div class="row well">
      <div class="form-inline">
        <%= form_tag filter_restaurants_path, method: :get, class: "navbar-form navbar-left", role: "filter" do %>
          <div class="form-group">
            <label for="type">Restaurant Type</label>
            <%= text_field_tag :type, params[:type], class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <%= text_field_tag :location, params[:location], class: "form-control" %>
          </div>
          
          <%= submit_tag "filter", class: "btn btn-default"%>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>