<% if @restaurant.cover_photo_file_name %>
  <div class="cover-photo"><%= image_tag @restaurant.cover_photo.url(:thumb)%></div>
<% end %>
<p>
  <strong>Name</strong>
  <%= @restaurant.name %>
</p>
<p>
  <strong>address</strong>
  <%= @restaurant.address %>
</p>
<p>
  <strong>Type</strong>
  <%= @restaurant.restaurant_type %>
</p>
<p>
  <strong>lat</strong>
  <%= @restaurant.lat %>
</p>
<p>
  <strong>long</strong>
  <%= @restaurant.long %>
</p>
<p>
  <%= link_to 'Get Diection', @restaurant.location_url, class: "btn btn-default" %>
</p>
<%= link_to 'Back', restaurants_path %>
<% if logged_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %>
<% end %>