<% @restaurants.each do |restaurant| %>
<%= image_tag restaurant.cover_photo.url(:medium), class: "img-responsive"%>
<p>
  <strong>Name</strong>
  <%= restaurant.name %>
</p>
<p>
  <strong>address</strong>
  <%= restaurant.address %>
</p>
<p>
  <strong>Type</strong>
  <%= restaurant.restaurant_type %>
</p>
<p>
  <strong>lat</strong>
  <%= restaurant.lat %>
</p>
<p>
  <strong>long</strong>
  <%= restaurant.long %>
</p>
<p>
  <%= link_to 'Get Diection', restaurant.location_url, class: "btn btn-default" %>
</p>
<%= link_to 'Show', restaurant_path(restaurant) %>
<%= link_to 'Edit', edit_restaurant_path(restaurant) %>
<%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?'} %>
<hr>
<% end %>