<% provide(:button_text, "Order") %>

<%= form_for([@restaurant, @order]) do |f| %>
  <%= render 'shared/error_messages', object: @order %>


  <div class="hidden">
    <div class="form-group">
      <%= f.label :items %>
      <%= f.text_field :item_array, class: "form-control item_array" %>
    </div>
    <div class="form-group">
      <%= f.label :quantity %>
      <%= f.text_field :quantity_array, class: "form-control quantity_array" %>
    </div>
    <br><br><br>
  </div>
  
  <% @food_items.each do |food_item| %>
    <div class="row form-group">
      <div class="col-xs-5">
        <%= f.label "#{food_item.name}"%>
        <input type="text" value="<%= food_item.id %>" class="item hidden" >
      </div>
      <div class="col-xs-6">
        <input type="number" value="0" min="0" onChange="add_food();" class="form-control quantity">
      </div>
    </div>
  <% end %>

  <br>
  <div class="form-group delivery-address">
    <%= f.label :delivery_address %><br>
    <%= f.text_area :delivery_address, class: "form-control" %>
  </div>
  
  <div class="form-group submit-food-order">
    <%= f.submit yield(:button_text), class: "btn btn-primary submit-button" %>
      <%= link_to 'Back', restaurant_orders_path(@restaurant), class: "btn btn-default pull-right" %>
  </div>
<% end %>


<script type="text/javascript">
$(document).ready(function(){
  var quantity_array = $(".quantity_array").val();
  if(quantity_array){
    i = 0;
    quantity_array = quantity_array.split(" ").map(x => parseInt(x));
    $(".quantity").map(function(){
      $(this).val(quantity_array[i]);
      i = i+1;
    });
  }
});
</script>