<% provide(:button_text, "Order") %>

<%= form_for([@restaurant, @order]) do |f| %>
  <%= render 'shared/error_messages', object: @order %>


  <div class="">
    <div class="form-group">
      <%= f.label :items %>
      <%= f.text_field :item_array, class: "form-control item_array" %>
    </div>
    <div class="form-group">
      <%= f.label :quantity %>
      <%= f.text_field :quantity_array, class: "form-control quantity_array" %>
    </div>
    <br><br><br>
  </div>
  
  <% @food_items.each do |food_item| %>
    <div class="row form-group">
      <div class="col-xs-5">
        <%= f.label "#{food_item.name}"%>
        <input type="text" value="<%= food_item.id %>" class="item hidden" >
      </div>
      <div class="col-xs-6">
        <input type="number" value="0" min="0" onChange="generate_array();" class="form-control quantity">
      </div>
    </div>
  <% end %>

  <br>
  <div class="form-group delivery-address">
    <%= f.label :delivery_address %><br>
    <%= f.text_area :delivery_address, class: "form-control" %>
  </div>
  
  <div class="form-group submit-food-order">
    <%= f.submit yield(:button_text), class: "btn btn-primary submit-button" %>
      <%= link_to 'Back', restaurant_orders_path(@restaurant), class: "btn btn-default pull-right" %>
  </div>
<% end %>




<script type="text/javascript">
$(document).ready(function(){
  generate_array();
});

function generate_array(){
  var item_array = "";
  var quantity_array = "";

  $(".item").map(function(){
    item_id = $(this).val();
    item_array += item_id + " ";
  });
  item_array = item_array.trim();
  $(".item_array").val(item_array);
  //alert(item_array);

  $(".quantity").map(function(){
    value = $(this).val();
    value = parseInt(value);
    quantity_array += value + " ";
  });
  quantity_array = quantity_array.trim();
  $(".quantity_array").val(quantity_array);
  //alert(quantity_array);
}
</script>