<% provide(:button_text, "Order") %>

<%= form_for([@restaurant, @order]) do |f| %>
  <%= render 'shared/error_messages', object: @order %>


  <div class="hidden">
    <div class="form-group">
      <%= f.label :items %>
      <%= f.text_field :item_array, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :quantity %>
      <%= f.text_field :quantity_array, class: "form-control" %>
    </div>
    <br><br><br>
  </div>


  <div class="form-inline add-food">
    <div class="form-group">
      <label for="item">Items</label><br>
      <select name="item" class="form-control" id="item">
        <% @food_items.each do |food_item| %>
          <option value="<%= food_item.id %>" data-name="<%= food_item.name %>" ><%= food_item.name %></option>
        <% end %>
      </select>
    </div>
    <div class="form-group">
      <label for="quantity">Quantity</label><br>
      <input type="number" value="1" min="1" class="form-control quantity" id="quantity">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default add-food-button">Add</button>
    </div>
  </div><br>

  <div class="form-group delivery-address">
    <%= f.label :delivery_address %><br>
    <%= f.text_area :delivery_address, class: "form-control" %>
  </div>
  
  <div class="form-group submit-food-order">
    <%= f.submit yield(:button_text), class: "btn btn-primary submit-button" %>
      <%= link_to 'Back', restaurant_orders_path(@restaurant), class: "btn btn-default pull-right" %>
  </div>
<% end %>