<div class="panel panel-default">
  <div class="panel-body">
    <h2>Current Orders</h2>

    <table class="table table-responsive table-striped">
      <tr>
        <th>Order Id</th>
        <th>Delivery To</th>
        <th>Total</th>
        <th colspan="4"></th>
      </tr>
      
      <% @orders.each do |order| %>
        <% if order.created_at >= Date.today - 1.days %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.user.name %></td>
            <td><%= order.total %></td>
            <td><%= link_to 'Show', [order.restaurant, order] %></td>
            <td><%= link_to 'Delete', [order.restaurant, order], method: :delete, data: {confirm: "Are you sure?"} %></td>
          </tr>
        <% end %>
      <% end %>  
    </table>

    <%= link_to 'Place Order', new_restaurant_order_path(@restaurant), class: "btn btn-primary" %>
    <%= link_to 'Back to Restaurant', @restaurant, class: "btn btn-default pull-right" %>
  </div>
</div><br><br><br>


<div class="panel panel-default">
  <div class="panel-body">
    <h2>Order History</h2>
    <table class="table table-responsive table-striped">
      <tr>
        <th>Order Id</th>
        <th>Delivery To</th>
        <th>Total</th>
        <th colspan="4"></th>
      </tr>
      
      <% @orders.each do |order| %>
      <% if order.created_at < Date.today - 1.days %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user.name %></td>
        <td><%= order.total %></td>
        <td><%= link_to 'Show', [order.restaurant, order] %></td>
      </tr>
      <% end %>
      <% end %>  
    </table>
  </div>
</div>