<div class="well col-sm-8 col-sm-offset-2">
  <h3>Order Details</h3>
  <table class="table table-stripted table-responsive">
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
    <% total_count = @quantities.count %>
    <% total_count.times do |i| %>
      <% if @quantities[i] != 0 %>  
        <tr>
          <td><%= @name[i] %></td>
          <td><%= @quantities[i] %></td>
          <td><%= @price[i] %></td>
          <td><%= @price[i] * @quantities[i] %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <div class="additional-order-details">
    <p class="grand-total"><strong>Grand Total:</strong> <%= @order.total %> rupees</p>
    <p><strong>Deliver To:</strong> <%= @order.user.name %></p>
    <p><strong>Address:</strong> <%= @order.delivery_address %></p>
    <p><strong>Order Placed at: </strong><%= @order.created_at.strftime("%I:%M %p %d-%m-%Y").in_time_zone("Kolkata") %> UTC</p>
  </div>
  <div class="btn-group">
    <%= link_to 'Back', restaurant_orders_path(@restaurant), class: "btn btn-default" %> 
    <%= link_to 'Edit', [:edit, @restaurant, @order], class: "btn btn-default" %> 
  </div>
</div>
