<% provide(:button_text, 'Submit') %>

<%= form_for @restaurant, html: { multipart: true } do |f| %>
 
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@restaurant.errors.count, "error") %> prohibited
        this restaurant from being saved:
      </h2>
      <ul>
        <% @restaurant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  
  <div class = "form-group">
    <%= f.label :type %><br>
    <%= f.text_field :restaurant_type, class: "form-control" %>
  </div>

  <div class = "form-group">
    <%= f.label :address %><br>
    <%= f.text_area :address, class: "form-control" %>
  </div>

  <div class = "form-group">
    <%= f.label "latitude*" %><br>
    <%= f.text_field :latitude, class: "form-control" %>
  </div>

  <div class = "form-group">
    <%= f.label "longitude*" %><br>
    <%= f.text_field :longitude, class: "form-control" %>
  </div>
 
  <div class= "form-group">
    <%= f.label "location_url*" %><br>
    <%= f.text_field :location_url, class: "form-control" %>
  </div>

  <div class= "form-group">
    <%= f.label :cover_photo %>
    <%= f.file_field :cover_photo, id: :restaurant_cover_photo, class: "form-control" %>
  </div>

  <div class= "form-group">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <%= link_to 'Back', restaurants_path, class: "btn btn-default pull-right" %>
  </div>
<% end %>

<h4>Fields marked with * are optional</h4>
