<div class="row well">
  <div class="clearfix">
    <div class="col-sm-6">
      <div id="map"></div>
    </div>
    <div class="col-sm-6">
      <h4><%= @restaurant.name %></h4>
      <p><strong>Address: </strong> <%= @restaurant.address %></p>
       <div class="btn-group">
        <%= link_to 'Direction', "#{@restaurant.location_url}", class: "btn btn-default", target: "_blank" %>
        <%= link_to 'back', @restaurant, class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div>

<script>
function myMap() {
  var latitude = parseFloat("<%= @restaurant.latitude %>");
  var longitude = parseFloat("<%= @restaurant.longitude %>");
  var myCenter = new google.maps.LatLng(latitude,longitude);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 15};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfSKxReJgUO7vNqIHuHV1Br-65yk-qaNM&callback=myMap"></script>