<% if logged_in? %>
  <h3 class="rating-form-title">Review:</h3>
  <div class="rating-form-body well">
    <%= form_for([@restaurant, @review]) do |f| %>
      <div class="rating-form form-group">
        <%= f.number_field :rating, class: "rating-value hidden", in: 1..5 %>
          <span class="star glyphicon glyphicon-star-empty" data-score="1"></span>
          <span class="star glyphicon glyphicon-star-empty" data-score="2"></span>
          <span class="star glyphicon glyphicon-star-empty" data-score="3"></span>
          <span class="star glyphicon glyphicon-star-empty" data-score="4"></span>
          <span class="star glyphicon glyphicon-star-empty" data-score="5"></span>
      </div>

      <div class = "form-group">
        <%= f.label :comment %><br>
        <%= f.text_area :comment, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label "Category:" %>
        <%= f.select(:category, options_for_select([['Food','Food'],['Restaurant','Restaurant'],['Menu','Menu'],['Other','Other']]), class: "form-control select-button") %>
      </div>

      <div class="form-group">
        <%= f.file_field :photo %>
      </div>

      <div class="form-group">
        <%= f.submit %>
      </div>
    <% end %><hr>
  </div>
  <% else %>
    <h5 class="alert alert-info">Login to add Reviews or Restaurant images</h5>
    <%= link_to 'Login', login_path, class: "btn btn-primary" %>
<% end %>