<div class="well col-sm-8 col-sm-offset-2">
  <h3>Bookings</h3>
  <table class="table table-responsive">
    <tr>
    <td><strong>Booking Id</strong></td>
    <td><%= @book_table.id %></td>
    </tr>
    <tr>
    <td><strong>Date</strong></td>
    <td><%= @book_table.date %></td>
    </tr>
    <tr>
    <td><strong>Duration</strong></td>
    <td><%= @book_table.duration %></td>
    </tr>
    <tr>
    <tr>
    <td><strong>Name</strong></td>
    <td><%= @book_table.user.name %></td>
    </tr>
    <tr>
    <td><strong>Head Count</strong></td>
    <td><%= @book_table.headcount %></td>
    </tr>
  </table>
  <%= link_to 'Back to Order list', restaurant_book_tables_path(@restaurant), class: "btn btn-default" %>  
</div>
